<h1 class="todo-heading">Angular-Todo</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Titel</th>
            <th scope="col">Fälligkeitsdatum</th>
            <th scope="col">Optionen</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of todoItems">
            <tr [ngClass]="{'finished-todo': item.isDone}">
                <td [routerLink]="['/item', item.id]">{{ item.title }}</td>
                <td [routerLink]="['/item', item.id]">{{ item.dueDate | date }}</td>
                <td class="row-options">
                    <i class="bi bi-pencil"[routerLink]="['/edit', item.id]"></i>
                    <i class="bi bi-trash text-danger"(click)="deleteTodo(item.id)"></i>
                    <i 
                        class="bi text-success" 
                        [ngClass]="item.isDone ? 'bi-arrow-bar-up' : 'bi-check2'"
                        (click)="toggleTodoIsDone(item.id)"
                    ></i>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<div class="todo-add-wrapper">
    <i
        routerLink="/new"
        class="todo-add-icon bi bi-plus-circle-fill"
    ></i>
</div>
